.main {
  background-color: #F0E8EC
}

.header{
  padding: 1rem;
}

.time{
 padding: 0.5rem;
}

.time:nth-child(odd){
  background-color: #693250;
  color: white;
}

.online{
  background-color: red;
  color: black;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .main {
    width: 35%;
  }
}
